p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    width: 500px;
    display: flexbox;
    flex-direction: column;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#nav {
    text-align: right;
}