
body {

}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    text-align: right;
    border-bottom: 1px solid;
    font-weight: bold;
    background-image: ;
}